name: Docker Image CI

#env:
  #AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |-
          echo Building Image and running Tests
          docker build . --file Dockerfile.dev --tag sanim16/docker-react
          docker run -e CI=true sanim16/docker-react npm run test -- --coverage
          echo Finished running tests
      #working-directory: ./ ##not required as file is in the main directory
